# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nyiro\OneDrive - Eotvos Lorand Tudomanyegyetem\Egyetem\2020.21.1\IMPROGEG\G\2020.11.04 - Gyakorlat8\aknakereso\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
